{% extends "base.html" %}
{% import "inc/utils.html" as utils %}

{% block title %}403 Forbidden{% endblock %}

{% block content %}
<h1>Forbidden</h1>
<p>The URI you have requested, <a href="{{ uri }}"><code>{{ uri }}</code></a>, might exist but the server has been instructed not to let you reach it.</p>
{% if tool %}
<h2>If you have reached this page from somewhere else...</h2>
<p>This URI is managed by the <a href="{{ urlFor('tool', {'name': tool}) }}"><code>{{ tool }}</code></a> tool, maintained by {{ utils.printMaintainers( maintainers ) }}.</p>
<p>Perhaps this content can only be accessed from the secret underground lair of the maintainers, or the link you've followed doesn't actually lead somewhere useful?</p>
<p>If you're pretty sure this shouldn't be an error, you may wish to notify the tool's maintainers (above) about the error and how you ended up here.</p>
<h2>If you maintain this tool</h2>
<p>The error might be caused by incorrect permissions, or by the absence of an index file (this webserver does not list directory contents by default).</p>
{% else %}
<p>Perhaps the webserver has temporarily lost its mind, or the link you've followed doesn't actually lead somewhere useful?</p>
<p>If you're pretty sure this shouldn't be an error, you may wish to notify the <a href="{{ urlFor('tool', {'name': admin}) }}">project administrators</a> about the error and how you ended up here.</p>
{% endif %}
{% endblock content %}
