{% extends "base.html" %}
{% block title %}403 Forbidden{% endblock %}

{% block content %}
<h1>Forbidden</h1>
<p>The URI you have requested, <a href="{{ uri }}"><code>{{ uri }}</code></a>, might exist but the server has been instructed not to let you reach it.</p>
<p>Perhaps the webserver has temporarily become confused, or the link you've followed doesn't actually lead somewhere useful?</p>
<p>If you're pretty sure this shouldn't be an error, you may wish to notify the <a href="{{ urlFor('tool', {'name': 'admin'}) }}">project administrators</a> about the error and how you ended up here.</p>
{% endblock content %}
