{% extends "base.html" %}
{% import "inc/utils.html" as utils %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
<h1>Four hundred and four!</h1>
<p>The URI you have requested, <code>{{ uri }}</code>, doesn't seem to actually exist.</p>
{% if tool %}
<h2>If you have reached this page from somewhere else...</h2>
<p>This URI is managed by the <a href="{{ urlFor('tool', {'name': tool}) }}"><code>{{ tool }}</code></a> tool, maintained by {{ utils.printMaintainers( maintainers ) }}.</p>
<p>Perhaps its files are on vacation, or the link you've followed doesn't actually lead somewhere useful?</p>
<p>You might want to look at the <a href="{{ urlFor('tools') }}">list of tools</a> to find what you were looking for. If you're pretty sure this shouldn't be an error, you may wish to notify the tool's maintainers (they are listed above) about the error and how you ended up here.</p>
{% else %}
<p>Perhaps the webserver has temporarily become confused, or the link you've followed doesn't actually lead somewhere useful?</p>
<p>You might want to look at the <a href="{{ urlFor('tools') }}">list of tools</a> to find what you were looking for. If you're pretty sure this shouldn't be an error, you may wish to notify the <a href="{{ urlFor('tool', {'name': 'admin'}) }}">project administrators</a> about the error and how you ended up here.</p>
{% endif %}
{% endblock content %}
