{% extends "base.html" %}
{% import "inc/utils.html" as utils %}

{% block title %}503 Service Unavailable{% endblock %}

{% block content %}
<h1>No webservice</h1>
<p>The URI you have requested, <a href="{{ uri }}"><code>{{ uri }}</code></a>, is not currently serviced.</p>
{% if tool %}
<h2>If you have reached this page from somewhere else...</h2>
<p>This URI is part of the <a href="{{ urlFor('tool', {'name': tool}) }}"><code>{{ tool }}</code></a> tool, maintained by {{ utils.printMaintainers( maintainers ) }}.</p>
<p>That tool might not have a web interface, or it may currently be disabled.</p>
<p>If you're pretty sure this shouldn't be an error, you may wish to notify the tool's maintainers (above) about the error and how you ended up here.</p>
<h2>If you maintain this tool</h2>
<p>You have not enabled a web service for your tool, or it has stopped working because of a fatal error. Please check the error logs of your web service.</p>
{% else %}
<h2>If you have reached this page from somewhere else...</h2>
<p>This URI is not currently part of any tool.</p>
<p>If you're pretty sure this shouldn't be an error, you may wish to notify the <a href="{{ urlFor('tool', {'name': 'admin'}) }}">project administrators</a> about the error and how you ended up here.</p>
{% endif %}
{% endblock content %}
