{% extends "base.html" %}
{% import "inc/utils.html" as utils %}

{% block title %}{{ 'tool-title'|message(tool.name) }} - {{ parent() }}{% endblock %}

{% block nav_li_tools %}active{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{ urlFor('splash') }}">{{ 'nav-home'|message }}</a></li>
  <li class="breadcrumb-item"><a href="{{ urlFor('tools') }}">{{ 'nav-tools'|message }}</a></li>
  <li class="breadcrumb-item active">{{ tool.name|default('unknown') }}</li>
</ol>

{% if tool.name %}
<h1>Tool account: {{ tool.name }}</h1>
<div class="row">
  <div class="col-sm-9 order-12">
    {% for info in tool.toolinfo %}
    <div class="card">
      <h3 class="card-header">
        {% if info.url %}
        <a href="{{ info.url }}">{{ info.title }}</a>
        {% elseif tool.toolinfo|length == 1 and active %}
        <a href="/{{ tool.name }}/">{{ tool.name }}</a>
        {% else %}
        {{ info.title|default(tool.name) }}
        {% endif %}
      </h3>
      <div class="card-body">
        <div>{{ info.description|default('No .description or toolinfo.json found')|purify }}</div>
        {% if info.author or info.repository %}
        <dl class="row">
          {% if info.author %}
          <dt class="col-sm-3">Author(s):</dt>
          <dd class="col-sm-9">{{ info.author|purify }}</dd>
          {% endif %}
          {% if info.repository %}
          <dt class="col-sm-3">Source code</dt>
          <dd class="col-sm-9">
            <a href="{{ info.repository }}">{{ info.repository }}</a>
          </dd>
          {% endif %}
        </dl>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-sm-3 order-1">
    <div class="card">
      <div class="card-header">Maintainers</div>
      <ul class="list-group list-group-flush">
        {% for maintainer in maintainers %}
        <li class="list-group-item">
          {% if maintainer.gecos %}
          <a href="https://wikitech.wikimedia.org/wiki/User:{{ utils.as_title(maintainer.gecos) }}">{{ utils.ucfirst(maintainer.gecos) }}</a>
          {% else %}
          {{- utils.ucfirst(maintainer.name) -}}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      <div class="card-footer text-muted">
        <a href="https://toolsadmin.wikimedia.org/tools/id/{{ tool.name|url_encode }}/maintainers/">manage maintainers</a>
      </div>
    </div>
  </div>
</div>
{% else %}
<p>No such tool?  Trying to guess, are you?</p>
{% endif %}
{% endblock content %}
