{% extends "base.html" %}
{% import "inc/utils.html" as utils %}

{% block content %}
<h1>{{ 'tool-labs'|message }}</h1>
<p>{{ 'tool-labs-desc'|message }}</p>
<h2>{{ 'tools-header'|message }}</h2>

<table id="thebigtable" class="tablesorter">
  <thead>
    <tr>
      <th>Tool</th>
      <th>Maintainers</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for tool in tools %}
    <tr class="tool" id="toollist-{{ tool.name }}">
      <td class="tool-name">
        {% if tool.toolinfo|length == 1 %}
        {% set info = tool.toolinfo[0] %}
        {% if info.url %}
        <a class="tool-web" href="{{ info.url }}">{{ tool.name }}</a>
        {% elseif active[tool.name] %}
        <a class="tool-web" href="/{{ tool.name }}/">{{ tool.name }}</a>
        {% else %}
        {{ tool.name }}
        {% endif %}
        {% else %}
        {{ tool.name }}
        {% endif %}
        <span class="mw-editsection">[<a href="https://wikitech.wikimedia.org/w/index.php?title=Special:NovaServiceGroup&action=managemembers&projectname=tools&servicegroupname=tools.{{ tool.name|url_encode }}">manage</a> maintainers]</span>
      </td>
      <td class="tool-maintainers">
        {% for maintainer in tool.maintainers %}
        {% if users[maintainer] %}
        {% set wiki_user = users[maintainer].wikitech %}
        <a href="https://wikitech.wikimedia.org/wiki/User:{{ utils.as_title(wiki_user)|url_encode }}">{{ utils.ucfirst(wiki_user) }}</a>
        {% endif %}
        {% endfor %}
      </td>
      <td class="tool-desc">
        {% if tool.toolinfo|length == 1 %}
        {{- utils.describe_tool(tool.toolinfo[0]) -}}
        {% else %}
        {% for info in tool.toolinfo %}
        <div class="subtool {% if loop.first %}first{% endif %}">
          <span class="subtool-name">
            {% if info.url %}
            <a href="{{ info.url }}">{{ info.title }}</a>
            {% else %}
            {{ info.title }}
            {% endif %}
          </span>
          <span class="subtool-desc">{{ utils.describe_tool(info) }}</span>
        </div>
        {% endfor %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

{% block javascript %}{% include '_tablesort-js.html' %}{% endblock javascript %}
