{% extends "base.html" %}
{% import "inc/utils.html" as utils %}

{% block title %}{{ 'tools-title'|message }} - {{ parent() }}{% endblock %}

{% block nav_li_tools %}active{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{ urlFor('splash') }}">{{ 'nav-home'|message }}</a></li>
  <li class="breadcrumb-item active">{{ 'nav-tools'|message }}</li>
</ol>

<h1>{{ 'tools-header'|message }}</h1>

<table class="table table-striped table-sm table-responsive">
  <thead>
    <tr>
      <th>Tool</th>
      <th>Maintainers</th>
    </tr>
  </thead>
  <tbody>
    {% for tool in tools %}
    <tr>
      <th scope="row"><a href="{{ urlFor('tool', {'name': tool.name}) }}">{{ tool.name }}</a></th>
      <td>
        <ul class="list-inline">
          {% for maintainer in tool.maintainers %}
          {% if users[maintainer] %}
          {% set wiki_user = users[maintainer].wikitech %}
          <li class="list-inline-item">
            <a href="https://wikitech.wikimedia.org/wiki/User:{{ utils.as_title(wiki_user) }}">{{ utils.ucfirst(wiki_user) }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
